[submodule "odoo-utilities"]
	path = odoo-utilities
	url = git@git.vauxoo.com:jarsa/odoo-utilities.git
	branch = 13.0

[submodule "social"]
	path = social
	url = git@github.com:jarsa/social.git
    branch = 13.0

[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:jarsa/mexico.git
	branch = 13.0
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = git@github.com:jarsa/stock-logistics-warehouse.git
	branch = 13.0
[submodule "server-backend"]
	path = server-backend
	url = git@github.com:jarsa/server-backend.git
	branch = 13.0
[submodule "real"]
	path = real
	url = git@git.vauxoo.com:jarsa-dev/real.git
	branch = tino-real-security
