[submodule "google-spreadsheet-import"]
	path = google-spreadsheet-import
	url = git@git.jarsa.com:Jarsa/google-spreadsheet-import.git
	branch = 17.0
[submodule "server-backend"]
	path = server-backend
	url = https://github.com/Jarsa/server-backend.git
	branch = 17.0
[submodule "stock-logistics-warehouse"]
	path = stock-logistics-warehouse
	url = https://github.com/Jarsa/stock-logistics-warehouse.git
	branch = 17.0
[submodule "bank-payment"]
	path = bank-payment
	url = https://github.com/Jarsa/bank-payment.git
	branch = 17.0
[submodule "server-ux"]
	path = server-ux
	url = git@github.com:Jarsa/server-ux.git
	branch = 17.0
[submodule "stock-logistics-workflow"]
	path = stock-logistics-workflow
	url = git@github.com:Jarsa/stock-logistics-workflow.git
	branch = 17.0
[submodule "account-analytic"]
	path = account-analytic
	url = https://github.com/Jarsa/account-analytic.git
	branch = 17.0
[submodule "account-financial-tools"]
	path = account-financial-tools
	url = git@github.com:Jarsa/account-financial-tools.git
	branch = 17.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:Jarsa/server-tools.git
	branch = 17.0
[submodule "purchase-workflow"]
	path = purchase-workflow
	url = git@github.com:Jarsa/purchase-workflow.git
	branch = 17.0
[submodule "web"]
	path = web
	url = git@github.com:Jarsa/web.git
	branch = 17.0
[submodule "account-financial-reporting"]
	path = account-financial-reporting
	url = git@github.com:Jarsa/account-financial-reporting.git
	branch = 17.0
[submodule "stock-logistics-reporting"]
	path = stock-logistics-reporting
	url = git@github.com:Jarsa/stock-logistics-reporting.git
	branch = 17.0
[submodule "manufacture"]
	path = manufacture
	url = https://github.com/Jarsa/manufacture.git
	branch = 17.0
[submodule "reporting-engine"]
	path = reporting-engine
	url = git@github.com:Jarsa/reporting-engine.git
	branch = 17.0
[submodule "account-reconcile"]
	path = account-reconcile
	url = git@github.com:Jarsa/account-reconcile.git
	branch = 17.0
[submodule "mis-builder"]
	path = mis-builder
	url = git@github.com:OCA/mis-builder.git
	branch = 17.0
[submodule "account-payment"]
	path = account-payment
	url = git@github.com:Jarsa/account-payment.git
	branch = 17.0
[submodule "product-attribute"]
	path = product-attribute
	url = git@github.com:Jarsa/product-attribute.git
	branch = 17.0
[submodule "odoo-cloc"]
	path = odoo-cloc
	url = git@github.com:Jarsa/odoo-cloc.git
	branch = 17.0
[submodule "real"]
	path = real
	url = git@git.jarsa.com:Jarsa-dev/real.git
	branch = 17.0-fixes-090826
[submodule "credit-control"]
	path = credit-control
	url = git@github.com:Jarsa/credit-control.git
	branch = 17.0
[submodule "l10n-mx-check-printing"]
	path = l10n-mx-check-printing
	url = git@git.vauxoo.com:jarsa/l10n-mx-check-printing.git
	branch = 17.0
[submodule "l10n-mx-edi-advance"]
	path = l10n-mx-edi-advance
	url = git@git.vauxoo.com:jarsa/l10n-mx-edi-advance.git
	branch = 17.0
[submodule "edi-document"]
	path = edi-document
	url = git@git.vauxoo.com:jarsa/edi-document.git
	branch = 17.0
[submodule "l10n-mx-avoid-reversal-entry"]
	path = l10n-mx-avoid-reversal-entry
	url = git@git.vauxoo.com:jarsa/l10n-mx-avoid-reversal-entry.git
	branch = 17.0
[submodule "l10n-mx-edi-hr-expense"]
	path = l10n-mx-edi-hr-expense
	url = git@git.vauxoo.com:jarsa/l10n-mx-edi-hr-expense.git
	branch = 17.0
[submodule "l10n-mx-edi-related-documents"]
	path = l10n-mx-edi-related-documents
	url = git@git.vauxoo.com:jarsa/l10n-mx-edi-related-documents.git
	branch = 17.0
[submodule "l10n-mx-edi-product-refund-accounts"]
	path = l10n-mx-edi-product-refund-accounts
	url = git@git.vauxoo.com:jarsa/l10n-mx-edi-product-refund-accounts.git
	branch = 17.0
[submodule "mexico-document"]
	path = mexico-document
	url = git@git.vauxoo.com:jarsa/mexico-document.git
	branch = 17.0
[submodule "l10n-edi-hr-expense"]
	path = l10n-edi-hr-expense
	url = git@git.vauxoo.com:jarsa/l10n-edi-hr-expense.git
	branch = 17.0

[submodule "stock-logistics-availability"]
	path = stock-logistics-availability
	url = git@github.com:Jarsa/stock-logistics-availability.git
	branch = 17.0

[submodule "stock-logistics-request"]
	path = stock-logistics-request
	url = git@github.com:Jarsa/stock-logistics-request.git
	branch = 17.0
[submodule "l10n-mx-partner-blocklist"]
	path = l10n-mx-partner-blocklist
	url = git@git.vauxoo.com:jarsa/l10n-mx-partner-blocklist.git
	branch = 17.0
[submodule "bank-statement-import"]
	path = bank-statement-import
	url = git@github.com:Jarsa/bank-statement-import.git
	branch = 17.0

[submodule "amxodoo-enterprise"]
	path = amxodoo-enterprise
	url = git@github.com:Jarsa/amxodoo-enterprise.git
	branch = 17.0

[submodule "queue"]
	path = queue
	url = git@github.com:Jarsa/queue.git
	branch = 17.0

[submodule "l10n-mexico"]
	path = l10n-mexico
	url = git@github.com:Jarsa/l10n-mexico.git
	branch = 17.0
[submodule "l10n-edi-discount"]
	path = l10n-edi-discount
	url = git@git.vauxoo.com:jarsa/l10n-edi-discount.git
	branch = 17.0
